.banner {
  --h: 100vh;
  background: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: var(--h);
  min-width: 100%;
  position: relative;
  z-index: 1;
}
@media (max-width: 700px) {
  .banner {
    min-height: 600px;
    height: var(--h);
  }
}
.banner.-dark::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  top: 0;
  z-index: 2;
  left: 0;
  opacity: 0.6;
}
.banner * {
  z-index: 3;
}
.banner-content {
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  height: var(--h);
  width: min-content;
  max-width: 100%;
  padding-top: 10vh;
}
.banner-content.-max {
  width: 100%;
}
@media (max-width: 1000px) {
  .banner-content {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .banner-content {
    align-items: center;
    min-height: 600px;
    padding-top: 70px;
  }
}
.banner-description {
  font-weight: 500;
  font-size: var(--t30);
  color: var(--color-t2);
}
@media (max-width: 1000px) {
  .banner-description .br-desk {
    display: none;
  }
}
@media (max-width: 700px) {
  .banner-description {
    text-align: center;
  }
}