@charset "UTF-8";

.MobMenu {
  background: var(--color-bg);
  padding: 10px 40px 20px;
  position: fixed;
  bottom: 0vh;
  bottom: 0dvh;
  height: 95px;
  left: 0;
  z-index: 999;
  align-items: flex-end;
  width: 100%;
}

@media (min-width: 1000px) {
  .MobMenu {
    display: none;
  }
}

.MobMenu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  position: relative;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.MobMenu-item_iconBox {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1;
}

.MobMenu-item_iconBox svg {
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.MobMenu-item_iconBox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  z-index: 0;
}

.MobMenu-item_title {
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  transition: all 0.3s ease;
}

.MobMenu-item.active {
  background: transparent;
}

.MobMenu-item.active .MobMenu-item_iconBox {
  /* transform: translateY(-5px); */
}

.MobMenu-item.active .MobMenu-item_iconBox::before {
  display: none;
}

.MobMenu-item.active .MobMenu-item_iconBox::after {
  display: none;
}

.MobMenu-item.active .MobMenu-item_iconBox svg path {
  stroke: #4c6329;
  fill: #4c6329;
}

.MobMenu-item.active .MobMenu-item_title {
  color: #4c6329;
  font-weight: 500;
}

.MobMenu-item:not(.active) .MobMenu-item_iconBox::before {
  display: none;
}

.MobMenu-item:not(.active) .MobMenu-item_iconBox::after {
  display: none;
}

.MobMenu-padd {
  height: 60px;
  display: none;
}

@media (max-width: 1000px) {
  .MobMenu-padd {
    display: block;
  }
}